name: Publish

on:
    push:
        branches: [main]
    pull_request:

env:
    DEBUG: 'napi:*'
    MACOSX_DEPLOYMENT_TARGET: '10.13'

jobs:
    check:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable

            - name: Check formatting
              run: cargo fmt --all --check

            - name: Clippy
              run: cargo clippy

    build-linux:
        runs-on: ubuntu-latest

        # Run in ubuntu:20.04 container to avoid the issue with glibc version
        container:
            image: ubuntu:20.04

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  registry-url: 'https://npm.pkg.github.com'

            # ubuntu:20.04 does not have curl and gcc/g++ installed by default
            - run: apt-get update && apt-get install -y curl build-essential

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  targets: x86_64-unknown-linux-gnu

            - uses: Swatinem/rust-cache@v2

            - name: Node install
              run: npm ci

            - name: Build Linux
              run: npm run build -- --target x86_64-unknown-linux-gnu

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: binaries-linux
                  path: dist
                  if-no-files-found: error

    build-mac:
        runs-on: macos-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  registry-url: 'https://npm.pkg.github.com'

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  targets: x86_64-apple-darwin, aarch64-apple-darwin

            - uses: Swatinem/rust-cache@v2

            - name: Node install
              run: npm ci

            - name: Build Mac x64
              run: npm run build -- --target x86_64-apple-darwin

            - name: Build Mac arm64
              run: npm run build -- --target aarch64-apple-darwin

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: binaries-macos
                  path: dist
                  if-no-files-found: error

    build-windows:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v4

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
                  registry-url: 'https://npm.pkg.github.com'

            - name: Setup Rust
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  targets: x86_64-pc-windows-msvc

            - uses: Swatinem/rust-cache@v2
              
            - name: Node install
              run: npm ci

            - name: Build Windows
              run: npm run build -- --target x86_64-pc-windows-msvc

            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: binaries-windows
                  path: dist
                  if-no-files-found: error
                  

    deploy:

        runs-on: ubuntu-latest
        needs: [build-linux, build-mac, build-windows]

        steps:
            - uses: actions/checkout@v4

            - name: Download build
              uses: actions/download-artifact@v4
              with:
                  path: dist/
                  pattern: binaries-*
                  merge-multiple: true

            - name: Log files
              run: |
                  echo "- Root directory:" && ls
                  echo "- Dist directory:" && ls -R dist

            - name: Publish to npm
              run: | 
                npm publish
              env:
                NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
